## Turn that confusion into interest!

When exploring the world Python offers, there will be suprising, confusing, and odd things, but with a perspective of interest you can begin to go a long way.

### Star args and star star kwargs
I feel like I should make a Star Wars reference here...

We all know `*args` and `**kwargs` as helpful utilities in our day to day programming.

In [4]:
def jar_jar_helps(*args, **kwargs):
    print(f"Thanks for {args} and {kwargs} jar jar!")

jar_jar_helps("passing","me","my", "light", "saber", becoming="a sith lord")

Thanks for ('passing', 'me', 'my', 'light', 'saber') and {'becoming': 'a sith lord'} jar jar!

### Just like a Jedi going to the dark side, star args can go the other way too

In [11]:
sith_lord_order = ["palpatine", "maul", "grevious", "vader"]
first_sith, *other_siths = sith_lord_order
print(f"The first sith lord was: {first_sith}, who preceded {other_siths}")

first_sith, *other_siths, current_sith = sith_lord_order
print(f"The current sith is: {current_sith}, and the first sith lord was: {first_sith}, who preceded all other sith {other_siths}")

The first sith lord was: palpatine, who preceded ['maul', 'grevious', 'vader']
The current sith is: vader, and the first sith lord was: palpatine, who preceded all other sith ['maul', 'grevious']

### What about the "type" of Sith you become when swithing to the Dark side? Dual saber, force lightning, mind tricks?
Same question applies to your list.

In [22]:
my_list = [1,2,3,4]
first, *middle, last = my_list
print(type(middle))

my_tuple = (1,2,3,4)
first, *middle, last = my_tuple
print(type(middle))

<class 'list'>
<class 'list'>

### I know this is a lot to "unpack", but there's more...

In [21]:
jedis_and_their_heirarchy = {
    "luke": ["obiwan","yoda"],
    "anikan": ["obi-wan","qui gon jinn", "yoda"]
}

((jedi1, (direct_master1, *others1)),
 (jedi2, (direct_master2, *others2))) = jedis_and_their_heirarchy.items()

print(f"{jedi1} was trained by {direct_master1}, who was trained in succession by {others1}")
print(f"{jedi2} was trained by {direct_master2}, who was trained in succession by {others2}")

luke was trained by obiwan, who was trained in succession by ['yoda']
anikan was trained by obi-wan, who was trained in succession by ['qui gon jinn', 'yoda']

### Unpacking from a function that returns multiple values
A general guideline is if you find yourself unpacking more than 3 variables from a function call, you should probably create an data object or `namedtuple`.

In [27]:
def get_stats(numbers):
    minimum = min(numbers)
    maximum = max(numbers)
    count = len(numbers)
    average = sum(numbers) / count
    return minimum, maximum, count, average

maximum, minimum, count, average = get_stats([1,2,3,4,4,5])
print(f"So many variables to keep track of, sure hope I didn't mess anything up :/\nMin: {minimum}, Max: {maximum}, Count: {count}, Avg: {average}. \nThat min doesn't look right, darn it :(")

So many variables to keep track of, sure hope I didn't mess anything up :/
Min: 5, Max: 1, Count: 6, Avg: 3.1666666666666665.
That min doesn't look right, darn it :(

In [29]:
from collections import namedtuple
Stats = namedtuple("Stats", "minimum maximum count average")
def get_good_stats(numbers):
    minimum = min(numbers)
    maximum = max(numbers)
    count = len(numbers)
    average = sum(numbers) / count
    return Stats(minimum, maximum, count, average)

stats = get_good_stats([1,2,3,4,4,5])
print(f"So ez to use WOW :)\nMin: {stats.minimum}, Max: {stats.maximum}, Count: {stats.count}, Avg: {stats.average}.")

So ez to use WOW :)
Min: 1, Max: 5, Count: 6, Avg: 3.1666666666666665.

#### Quick note on NamedTuple vs Dataclass

NamedTuples are lightweight objects, as they extend tuple. Where as dataclasses will have larger memory footprints.

Use Dataclass when you need default arguments, or in general something more complicated, for example, a possibility of inheritance.

Use NamedTuple when you want your data to be immutable, hashable, iterable, unpackable, comparable.

Example Sourced from: https://stackoverflow.com/a/51673969

In [34]:
import sys
from collections import namedtuple
from dataclasses import dataclass

StatsNT = namedtuple("StatsNT", "minimum maximum count average")
@dataclass
class StatsDC:
    minimum: int
    maximum: int
    count: int
    average: float
    
nt = StatsNT(1,5,6,19/6)
dc = StatsDC(1,5,6,19/6)

print("Size of NamedTuple:", sys.getsizeof(nt))
print("Size of dataclass:", sys.getsizeof(dc) + sys.getsizeof(vars(dc)))

Size of NamedTuple: 72
Size of dataclass: 152

In [35]:
%timeit nt.minimum

35.3 ns ± 1.02 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [36]:
%timeit dc.minimum

40.2 ns ± 1.11 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

### Bonus interesting: Let's get things sorted...

In [47]:
@dataclass
class BookDC:
    date: str
    author: str
    title: str
    
books = [
    BookDC("2021-09-03", "John", "Just the right amount of: Darkness"),
    BookDC("2021-09-03", "John", "Darkness"),
    BookDC("2021-09-04", "Smith", "Light"),
    BookDC("2021-09-01", "John", "Less Darkness"),
]

books.sort(key=lambda x: x.date)
books

[BookDC(date='2021-09-01', author='John', title='Less Darkness'),
 BookDC(date='2021-09-03', author='John', title='Just the right amount of: Darkness'),
 BookDC(date='2021-09-03', author='John', title='Darkness'),
 BookDC(date='2021-09-04', author='Smith', title='Light')]

In [48]:
@dataclass
class BookDC:
    date: str
    author: str
    title: str
    
books = [
    BookDC("2021-09-03", "John", "Just the right amount of: Darkness"),
    BookDC("2021-09-03", "John", "Darkness"),
    BookDC("2021-09-04", "Smith", "Light"),
    BookDC("2021-09-01", "John", "Less Darkness"),
]

books.sort(key=lambda x: (x.date, x.author, x.title))
books

[BookDC(date='2021-09-01', author='John', title='Less Darkness'),
 BookDC(date='2021-09-03', author='John', title='Darkness'),
 BookDC(date='2021-09-03', author='John', title='Just the right amount of: Darkness'),
 BookDC(date='2021-09-04', author='Smith', title='Light')]

#### But then if a namedtuple is a tuples....

In [49]:
BookNT = namedtuple("Book", "Date Author Title")

books = [
    BookNT("2021-09-03", "John", "Just the right amount of: Darkness"),
    BookNT("2021-09-03", "John", "Darkness"),
    BookNT("2021-09-04", "Smith", "Light"),
    BookNT("2021-09-01", "John", "Less Darkness"),
]

books.sort()
books

[Book(Date='2021-09-01', Author='John', Title='Less Darkness'),
 Book(Date='2021-09-03', Author='John', Title='Darkness'),
 Book(Date='2021-09-03', Author='John', Title='Just the right amount of: Darkness'),
 Book(Date='2021-09-04', Author='Smith', Title='Light')]

### But should you rely on this?..
Absolutley not, that's probably one of the most implicit assumptions you can make.